.hangman-word {
  display: flex;
  gap: 0.5rem;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: monospace;
}

.hangman-word-key {
  border-bottom: 3px solid #000;
}
