.component-emoji-result-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  border-radius: 8px;
}

.component-emoji-result-row:hover {
  background-color: #eee;
}

.component-emoji-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.title {
  font-size: 13px;
  font-weight: 600;
  font-family: monospace;
}
